.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  flex-direction: column;
  width: 100vw;
}

.data{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 50vh;
  flex-direction: column;
  width: 32vw;
}
